/* basic style */
:root {
  /* color */
  --basic-color: #f8fa8d;
  --font-color: #112e44;
  --blue-color: #00b3fd;
  /* font */
  --basic-font: "Almarai", sans-serif;
}

/* basic style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--basic-font);
  color: var(--font-color);
}

a {
  text-decoration: none;
}

a:link {
  color: var(--font-color);
}

a:visited {
  color: var(--font-color);
}

a:hover {
  color: salmon;
}

a:active {
  color: var(--font-color);
}

/* nav */
#nav-bar {
  background-color: var(--basic-color);
  display: flex;
  justify-content: space-between;
  padding: 7px 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.navigation-link {
  list-style: none;
  display: flex;
  align-items: center;
}

.navigation-link li {
  margin: 0 10px;
}

.navigation-link li:nth-child(4) {
  padding: 3px;
  border-radius: 5px;
  background: var(--blue-color);
}

.nav-link {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

#logo-img {
  width: 40px;
  height: 40px;
}

/* header */
#header {
  position: relative;
}

#title-header {
  text-align: center;
  text-transform: uppercase;
}

#title {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -4px;
}

#title span {
  color: var(--blue-color);
}

#sub-title {
  font-size: 1rem;
  margin-bottom: 15px;
}

#header-link {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 3px;
  border-radius: 5px;
  background: var(--blue-color);
}

/* main */
#main {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

#main section {
  margin-top: 15px;
  padding: 5px;
}

.sec-title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* fun fact */
#banana-img {
  max-width: 170px;
  float: left;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-right: 5px;
}

.content p {
  line-height: 1.5;
  font-size: 18px;
}

/* testimoni */
#video-box {
  padding: 3px;
}

#video {
  width: 100%;
  height: 300px;
}

/* order menu */
.variants {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 130px));
  justify-content: center;
  gap: 15px;
  padding: 5px;
}

.card:first-child .variant-img {
  background-image: url(img/original.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card:nth-child(2) .variant-img {
  background-image: url(img/balado.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card:nth-child(3) .variant-img {
  background-image: url(img/gula-aren.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--font-color);
  color: whitesmoke;
  padding: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.variant-img {
  background-color: #c4c4c4;
  height: 160px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* form */
#form {
  margin-top: 5px;
}

#form .sec-title {
  text-align: center;
}

#medsos {
  display: flex;
  justify-content: center;
  list-style: none;
}

#medsos li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: var(--font-color);
  margin: 0 15px;
  border-radius: 50%;
}

#medsos li:hover {
  background-color: var(--blue-color);
}

#medsos i {
  font-size: 40px;
  color: white;
}

.line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line span {
  width: 100%;
  border: 0.5px solid var(--font-color);
  align-self: center;
}

.line h3 {
  text-transform: uppercase;
  padding: 10px;
}

.email-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.email-form input {
  border-radius: 5px;
  height: 40px;
  font-size: 1rem;
  border: none;
  color: var(--font-color);
}

#email {
  background-color: #e1e5ea;
  padding-left: 10px;
}

#email:focus {
  outline: 1px solid var(--font-color);
}

#submit {
  background-color: var(--blue-color);
  font-weight: 700;
  /* margin-bottom: 50px; */
}

/* footer */
#footer {
  max-width: 550px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
}

/* responsive breakpoint */
@media screen and (max-width: 767px) {
  /* nav */
  .navigation-link {
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100vh;
    background-color: var(--basic-color);
    transform: translateX(100%);
    transition: 1s;
  }

  .navigation-link li {
    margin: 5px 0;
  }

  .slide {
    transform: translateX(0%);
  }

  .humburger-menu {
    margin: auto 0;
    width: 35px;
    height: 35px;
    position: relative;
  }

  .humburger-menu input {
    position: absolute;
    width: 35px;
    height: 35px;
    cursor: pointer;
    z-index: 3;
    opacity: 0;
  }

  .humburger-menu span {
    margin-bottom: 6px;
    display: block;
    height: 7px;
    background-color: var(--font-color);
    transition: 1s;
  }

  /* humburger menu animation */
  .humburger-menu input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(9.5px, 9.5px) scale(1.2, 1);
  }

  .humburger-menu input:checked ~ span:nth-child(3) {
    transform: rotate(360deg);
    opacity: 0;
  }

  .humburger-menu input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(9px, -9px) scale(1.2, 1);
  }

  /* header */
  #title-header {
    position: absolute;
    margin-top: 25%;
    left: 0;
    right: 0;
    z-index: 1;
  }

  #header-img {
    width: 100%;
    opacity: 0.5;
  }
}

@media screen and (min-width: 768px) {
  /* nav */
  .humburger-menu {
    display: none;
  }

  /* main header */
  #header {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  #title-header {
    margin-top: 30%;
  }

  #header-img {
    width: 100%;
    border-bottom-left-radius: 50px;
  }

  /* main */
  #banana-img {
    max-width: 250px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
}
